body {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

form input, label {
    margin-bottom: 10px;
}

form input[type="text"], input[type="password"] {
    width: 250px;
    height: 25px;
    padding: 0.5em;
}


form input[type="submit"] {
    width: 150px;
    height: 30px;
    padding: 0.5em;
    text-transform: uppercase;
    cursor: pointer;
}