* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center; 
}

.super-container .container-input {
    background-color: #c1121f;
    height: 250px;
    width: 450px;
    justify-content: center;
    color: #FFFFFF;
    font-size: 20px;
    padding: 1em;
    margin: 0.5em;
    text-transform: uppercase;
    border-radius: 10px;
}

.container-input input {
    width: 400px;
}

.super-container .container-input div {
    margin: 0.8em;
}

.container-input div > label {
    display: block;
    text-align: center;
}

.container-input div input {
    height: 2.5em;
    margin: 0.5em;
    padding: 0.5em;
    outline: none;
    border-radius: 4px;
}

.container-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-input .container-btn button {
    background: #669bbc;
    color: #FFFFFF;
    height: 30px;
    width: 150px;
    cursor: pointer;
    font-weight: 800;
    border-radius: 4px;
    text-transform: uppercase;
}

.container-btn button:hover {
    background-color: #FFFFFF;
    color: #000000;
    transition: 500ms ease;
}

.container-resp {
    background: #669bbc;
    width: 440px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.insert-resp {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bolder;
}

.border {
    border: 3px solid #2a9d8f;
}